.NotfoundPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  font-family: Roboto;
  min-height: 100vh;

  padding: 10px;
}
.notFoundImage {
  height: 200px;
  margin: 10px;
}
.notFoundHeading {
  font-size: 20px;
}
.notFoundPara {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}
@media screen and (max-height: 576px) {
  .notFoundImage {
    height: 100px;
  }
  .notFoundHeading {
    font-size: 16px;
  }
  .notFoundPara {
    font-size: 14px;
  }
}
